 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> I am an Electronics and Telecommunication engineer.
                        My passion is electronics and my interest lies in the circuits.
                        I am quick learner and love to learn new things.
                        I have also started an active interest in coding nowdays.

                        I am huge fan of Python language, and love to code in python.
                        Apart from these, I also love to travel...!
                        </p>
                </div>
                <div class="col-lg-4 ">
                    <p>Lush green scene places excite me to greater extent.
                        Eating new food from different places is the favourite part of my life !
                        I am  Marvel fan as well as I love watching web series.
                        Huge fan of open source software and an active contributor on <a href="http://github.com/Omkar-Atugade">Github</a>.
                        Fairly good in photography and illustrations these days too :) !</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">MY RESUME</button>
                            </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
