<!-- Education Section -->
    <section class="skill_area" id="skill">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>skills</h2>
                     <hr class="star-light">
                </div>
            </div>
            <div class="row">
                  <div class = "skillsp">
                      <div class="sign1">
                          <div>
                      <span style='font-size:80px;'>&#8810; &#8811;</span>
                          </div>
                      </div>
                <h3> Languages </h3>
                            <ul>
                              <li>Python</li>
                              <li>C</li>
                              <li>HTML</li>
                                <li>CSS</li>
                              <li>JavaScript</li>
                            </ul>
                </div>
                <div class = "skill_tools">
                    <div class="sign2">
                        <div>
                            <span style='font-size:80px;'>&#9964;</span>
                            </div>
                            </div>
                    <h3> Tools and Softwares </h3>
                            <ul >
                                <li>Keil</li>
                                <li>Proteus</li>
                                <li>Xilinx</li>
                                <li>Matlab</li>
                                <li>Octave</li>
                              <li>Multisim</li>
                                 <li>OpenCV</li>
                            </ul>
                </div>
                <div class = "skills_frameworks">
                    <div class="sign3">
                        <div>
                        <span style='font-size:80px;'>&#9636;</span>
                        </div>
                    </div>
                    <h3> Frameworks  </h3>
                            <ul>
                                <li>Django</li>
                                <li>Flask</li>
                                <li>GitHub</li>
                            </ul>
                </div>
            </div>
        </div>
    </section>
